/* desktop at 1440px */

@media screen and (min-width: 1440px) {
  .card {
    width: 50%;
  }
}

/* mobile devices at 375px */

@media screen and (max-width: 376px) {
  html {
    font-size: 14px;
  }

  .container {
    width: 100%;
  }

  .card {
    max-width: 90%;
  }
}
